<%= form_with(model: cook_category, local: true) do |form| %>
  <% if cook_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cook_category.errors.count, "error") %> prohibited this cook_category from being saved:</h2>

      <ul>
      <% cook_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :cook_category_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :cook_category_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
