<p id="notice"><%= notice %></p>

<h1>Cook Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cook_categories.each do |cook_category| %>
      <tr>
        <td><%= cook_category.name %></td>
        <td><%= cook_category.description %></td>
        <td><%= link_to 'Show', cook_category %></td>
        <td><%= link_to 'Edit', edit_cook_category_path(cook_category) %></td>
        <td><%= link_to 'Destroy', cook_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cook Category', new_cook_category_path %>
