<div class="tabs_section" id="menu">
	<div class="container">
		<h5>Special Menu</h5>
		<div id="horizontalTab">
			<ul class="resp-tabs-list">
				<li> BREAKFAST</li>
				<li> LUNCH</li>
				<li> TO DAY SPECIALS</li>
				<li> DRINKS</li>
			</ul>
			<div class="resp-tabs-container">
				<div class="tab1">
					<div class="recipe-grid">
						<div class="col-md-6 menu-grids">
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal1.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$ 50</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal2.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$25</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal3.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$30</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="col-md-6 menu-grids">
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal4.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$ 50</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal5.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$25</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal6.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$30</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="tab2">
					<div class="recipe-grid">
						<div class="col-md-6 menu-grids">
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal9.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$ 50</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal7.jpg", :class =>"img-responsive" %>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$25</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal8.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$30</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="col-md-6 menu-grids">
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal7.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$ 50</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal8.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$25</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal9.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$30</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="tab3">
					<div class="recipe-grid">
						<div class="col-md-6 menu-grids">
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal1.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$ 50</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal2.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$25</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal3.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$30</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="col-md-6 menu-grids">
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal4.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$ 50</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal5.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>
									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$25</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text_wthree">
								<div class="menu-text-left">
									<div class="rep-img">
										<%= image_tag "gal6.jpg", :class =>"img-responsive"%>
									</div>
									<div class="rep-text">
										<h4>Lorem ipsum dolor............</h4>
										<h6>with wild mushrooms and asparagus</h6>
									</div>

									<div class="clearfix"> </div>
								</div>
								<div class="menu-text-right">
									<h4>$30</h4>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="tab4">
					<div class="col-md-6 menu-grids">
						<div class="menu-text_wthree">
							<div class="menu-text-left">
								<div class="rep-img">
									<%= image_tag "gal12.jpg", :class =>"img-responsive"%>
								</div>
								<div class="rep-text">
									<h4>Lorem ipsum dolor............</h4>
									<h6>Itaque earum rerum hic tenetur </h6>
								</div>

								<div class="clearfix"> </div>
							</div>
							<div class="menu-text-right">
								<h4>$ 50</h4>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="menu-text_wthree">
							<div class="menu-text-left">
								<div class="rep-img">
									<%= image_tag "gal10.jpg", :class =>"img-responsive"%>
								</div>
								<div class="rep-text">
									<h4>Lorem ipsum dolor............</h4>
									<h6>Itaque earum rerum hic tenetur </h6>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text-right">
								<h4>$25</h4>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="menu-text_wthree">
							<div class="menu-text-left">
								<div class="rep-img">
									<%= image_tag "gal11.jpg", :class =>"img-responsive"%>
								</div>
								<div class="rep-text">
									<h4>Lorem ipsum dolor............</h4>
									<h6>Itaque earum rerum hic tenetur </h6>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text-right">
								<h4>$30</h4>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="col-md-6 menu-grids">
						<div class="menu-text_wthree">

							<div class="menu-text-left">
								<div class="rep-img">
									<%= image_tag "gal10.jpg", :class =>"img-responsive"%>
								</div>
								<div class="rep-text">
									<h4>Lorem ipsum dolor............</h4>
									<h6>Itaque earum rerum hic tenetur </h6>
								</div>

								<div class="clearfix"> </div>
							</div>
							<div class="menu-text-right">
								<h4>$ 50</h4>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="menu-text_wthree">
							<div class="menu-text-left">
								<div class="rep-img">
									<%= image_tag "gal11.jpg", :class =>"img-responsive"%>
								</div>
								<div class="rep-text">
									<h4>Lorem ipsum dolor............</h4>
									<h6>Itaque earum rerum hic tenetur </h6>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="menu-text-right">
								<h4>$25</h4>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="menu-text_wthree">
							<div class="menu-text-left">
								<div class="rep-img">
									<%= image_tag "gal13.jpg", :class =>"img-responsive"%>
								</div>
								<div class="rep-text">
									<h4>Lorem ipsum dolor............</h4>
									<h6>Itaque earum rerum hic tenetur </h6>
								</div>

								<div class="clearfix"> </div>
							</div>
							<div class="menu-text-right">
								<h4>$30</h4>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>