<!DOCTYPE html>
<html>
<head>
	<title>Getyourcook</title>
	<%= csrf_meta_tags %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
		.reservation {
			background: url(<%= asset_path 'banner1' %>) no-repeat 0px 0px;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			min-height: 520px;
			padding-top: 4em;
		}
		.banner-top {
			background: url(<%= asset_path 'banner1' %>) no-repeat 0px 0px;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			min-height: 780px;
		}
		.callbacks_nav {
			position: absolute;
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			top: 55%;
			left: 40px;
			opacity: 0.7;
			z-index: 3;
			text-indent: -9999px;
			overflow: hidden;
			text-decoration: none;
			height: 34px;
			width: 34px;
			background: url(<%= asset_path 'left.png' %>) no-repeat 0px 0px;
		}

		.callbacks_nav.next {
			left: auto;
			background: url(<%= asset_path 'right.png' %> ) no-repeat 0px 0px;
			right: 0;
		}

		.callbacks_nav.prev {
			left: auto;
			background: url(<%= asset_path 'left.png' %>) no-repeat 0px 0px;
			left: 0px;
		}

		#slider3-pager a {
			display: inline-block;
		}
		#toTop {
			display: none;
			text-decoration: none;
			position: fixed;
			bottom: 10px;
			right: 10px;
			overflow: hidden;
			width: 48px;
			height: 48px;
			border: none;
			text-indent: 100%;
			background: url(<%= asset_path 'scroll-top.png' %>) no-repeat 0px 0px;
		}


		.banner-top1 {
			background: url(<%= asset_path 'banner2' %>) no-repeat 0px 0px;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			min-height: 780px;
		}

		.banner-top2 {
			background: url(<%= asset_path 'banner3' %>) no-repeat 0px 0px;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			min-height: 780px;
		}
		.banner-top3 {
			background: url(<%= asset_path 'banner4' %>) no-repeat 0px 0px;
			background-size: cover;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			-moz-background-size: cover;
			min-height: 780px;
		}

	</style>
</head>
<body>
	<div class="header" id="home">
		<div class="top-bar">
			<div class="header-top_w3layouts">
				<div class="forms">
					<p><span class="fa fa-map-marker" aria-hidden="true"></span>Parma Via Modena,BO, Italy
					</p>
					<p><span class="fa fa-envelope-o" aria-hidden="true"></span> <a href="mailto:info@example.com">info@example.com</a>
					</p>
				</div>
				<ul class="top-right-info">
					<%if user_signed_in?%>
					<li><%= link_to('Logout', destroy_user_session_path, method: :delete, :class => 'fa fa-user', :style => 'color:white') %></li>
					<%else%>
					<li><%= link_to "", new_user_session_path, :class => 'fa fa-user', :style => 'color:white' %></li>
					<%end%>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
				</ul>
				<div class="search">
					<div class="cd-main-header">
						<ul class="cd-header-buttons">
							<li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
						</ul>
					</div>
					<div id="cd-search" class="cd-search">
						<%= render 'layouts/header'%>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="header-nav">
				<nav class="navbar navbar-default">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand" href="index.html">L<span>uscious</span></a></h1>
					</div>
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="top_nav">
								<li><a class="scroll" href="#home" class="active">Home</a></li>
								<li><a class="scroll" href="#about">About</a></li>
								<li><a class="scroll" href="#services">Services</a></li>
								<li class="dropdown menu__item">
									<a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" data-hover="Pages" role="button" aria-haspopup="true"
									aria-expanded="false">Drop Down <span class="fa fa-angle-down"></span></a>
									<ul class="dropdown-menu">
										<li><a class="scroll" href="#menu">Menu</a></li>
										<li><a class="scroll" href="#book">Booking</a></li>
									</ul>
								</li>
								<li><a class="scroll" href="#gallery">Gallery</a></li>
								<li><a class="scroll" href="#mail">Contact</a></li>
							</ul>
						</nav>
					</div>
				</nav>
			</div>
		</div>
		<div class="slider">
			<div class="callbacks_container">
				<ul class="rslides callbacks callbacks1" id="slider4">
					<li>
						<div class="banner-top">
							<div class="banner-info_agile_w3ls">
								<h3>Come hungry. <span>Leave</span> happy.</h3>
								<p>Small change,Big differences.
								</p>
								<a href="#about" class="scroll">Read More <i class="fa fa-caret-right" aria-hidden="true"></i>
								</a>
								<a href="#mail" class="scroll">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i>
								</a>
							</div>

						</div>
					</li>
					<li>
						<div class="banner-top1">
							<div class="banner-info_agile_w3ls">
								<h3>Better Ingredients. <span> Better</span> Food.</h3>
								<p>Small change,Big differences.
								</p>
								<a href="#about" class="scroll">Read More <i class="fa fa-caret-right" aria-hidden="true"></i>
								</a>
								<a href="#mail" class="scroll">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i>
								</a>
							</div>
						</div>
					</li>
					<li>
						<div class="banner-top2">
							<div class="banner-info_agile_w3ls">
								<h3>Come hungry. <span>Leave</span> happy.</h3>
								<p>Small change,Big differences.
								</p>
								<a href="#about" class="scroll">Read More <i class="fa fa-caret-right" aria-hidden="true"></i>
								</a>
								<a href="#mail" class="scroll">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i>
								</a>
							</div>

						</div>
					</li>
					<li>
						<div class="banner-top3">
							<div class="banner-info_agile_w3ls">
								<h3>Better Ingredients. <span> Better</span> Food.</h3>
								<p>Small change,Big differences.
								</p>
								<a href="#about" class="scroll">Read More <i class="fa fa-caret-right" aria-hidden="true"></i><
									/a>
									<a href="#mail" class="scroll">Contact Us <i class="fa fa-caret-right" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<%= yield %>
		<!--//Header-->
		<%= render "layouts/about_us" %>
		<!-- Silder --> 
		<%= render "cooks/index" %>
		<!-- Silder --> 
		<!-- Our Services -->
		<%= render "layouts/our_services" %>
		<!--//Our Services-->
		<!--/about-->
		<%= render "layouts/about" %>
		<!--//about-->
		<!--/tab_section-->
		<%= render "layouts/special_menu" %>
		<!--//tab_section-->
		<!--/services-->
		<%= render "layouts/services" %>
		<!--//services-->
		<!--/gallery-->
		<%= render "layouts/gallery" %>
		<!--//gallery-->
		<!--//talbe-->
		<%= render "layouts/table" %>
		<!--//talbe-->
		<!--/customer-->
		<%= render "layouts/comment" %>
		<!--//customer-->
		<!--/foorer-->
		<%= render "layouts/contactus" %>
		<!--/foorer-->
		<a href="#" id="toTop" style="display: block;"> 
			<span id="toTopHover" style="opacity: 1;"> </span>
		</a>
	</body>
	</html>
